p, h3, input, select, h1,h4{
	padding: 0px;
	margin: 0px;
}
@font-face {
	font-family: MagistralC ;
	src: url(MGBOLD.TTF);
}
body{
	text-align: center;
	padding-top: 50px;
	font-family: MagistralC;
	background-color: rgb(0,136,84);
}
h1{
	font-size: 45px;
	padding-bottom: 10px;
	color: white;
}
h3{
	padding-top: 10px;
}
input{
	text-align: center;
}
h4{
	padding-bottom: 5px;
}
p{
	font-size: 20px;
	padding-bottom: 30px;
	color: white;
}
.select{
	padding-right: 25px;
	padding-left: 25px;
}
.cont_prin{
	background-color: white;
	padding-bottom: 30px;
	padding-top: 10px;
	width: 250px; 
	margin-left: auto;
	margin-right: auto; 
	border-radius: 20px;
}
.espace{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
}
.botones{
	padding-top: 10px;
	padding-bottom: 10px;
}
.btn{
	font-size: 444px;
}
#botones input{
	margin-top: 20px;
	color: rgb(0,136,84);
	border: none;
	font-size: 20px;
	background-color: white;
	padding: 5px 20px;
	font-family: MagistralC ;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 10px;
}
/************/
ul{
	list-style: none;
	text-align: left;
	color: green;
	font-family: MagistralC;
	font-size: 20px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.cont_prin input[type="number"]{
	padding-right: 30px;
	padding-left: 30px;
}
.result p{
	color: black;
	padding: 0px;
}
.result .cont_prin{
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.result .cont_prin .total{
	font-size: 40px;
}
a{
	padding-bottom: 7px;
	padding-top: 7px;
	font-size: 20px;
	text-decoration: none;		
	background-color: white;
	color: rgb(0,136,84);
	font-family: MagistralC;
	border-radius: 5px;
	padding-right: 10px;
	padding-left: 10px;
}